[Match]
Name=wlan0

[Network]
LinkLocalAddressing=no
LLMNR=no
MulticastDNS=no
IPv6PrivacyExtensions=no
IPv6AcceptRouterAdvertisements=no
Domains=sri.local
Address=10.249.1.2/24
###Address=10.0.0.1/28
